.git/
.git
*.bak
*.gho
*.ori
*.orig
*.rej
*.TAG
*.log
*.log.*
log/
logs/
*.old
*.tmp
tmp/
nohup.out
.cache/
false.*
node_modules/
.npm
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
github-step-summary.md
megalinter-reports/
**/megalinter-reports/*
mega-linter.report
*megalinter_file_names_cspell.txt
.ruff_cache/
.eslintcache
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
