// Go module template
// Copy to project root as go.mod and customize

module github.com/yourorg/my-project

go 1.22

require (
	// Add your dependencies here
)

require (
	// Indirect dependencies go here
)
