name: autofix.ci
on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    branches: [main, master]
  push:
    branches: [main, master]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: write
  pull-requests: write
env:
  DEBIAN_FRONTEND: noninteractive
  LC_ALL: C
  GITHUB_TOKEN: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}

jobs:
  autofix:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: |
          bun i
      - name: autofix.ci
        uses: autofix-ci/action@v1.3.2
